@charset "utf-8";
@import "../../../node_modules/bulma/bulma.sass";

html {
    background-color: #CAF0F8;
}

.title {
    text-align: center;
    margin-top: 1%;
}

.process-name {
    margin-top: 0%;
}

.navbar {
    color: #CAF0F8;
    background-color: #0077B6;

    .navbar-brand {
        &:hover {
            background-color: #03045E;
        }

        a {
            color: #03045E;

            &:hover {
                color: #CAF0F8;
            }
        }
    }

    .navbar-item {
        color: #CAF0F8;

        &:hover {
            color: #0077B6;
            background-color: #CAF0F8;
        }
    }

    .navbar-button-group {
        &:hover {
            background-color: #0077B6;
        }
    }

    .button.is-primary {
        color: #03045E;
        background-color: #90E0EF;

        &:hover {
            background-color: #00B4D8;
        }
    }
    
    .button.is-light {
        color: #03045E;
        background-color: #CAF0F8;

        &:hover {
            background-color: #90E0EF;
        }
    }
}

.new-process-button {
    margin-left: 32px;
}

.back-button {
    margin-left: 1%;
}

.container {
    margin-top: 1%;
    

    .is-primary {
        background-color: #00B4D8;
    }

    .is-light {
        background-color: #CAF0F8;
    }

    .is-danger {
        background-color: #03045E;
    }
}

.field {
    margin-left: 32px;
    margin-right: 32px;
}
